backend/src/test/resources/Grammatiken/Literature/ldml-ris-literature-selbstaendig-meta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://ldml.neuris.de/literature/selbstaendig/meta/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:risCommon="http://ldml.neuris.de/literature/meta/"
           elementFormDefault="qualified" targetNamespace="http://ldml.neuris.de/literature/selbstaendig/meta/"
           version="1.0">
  <xs:import namespace="http://ldml.neuris.de/literature/meta/" schemaLocation="ldml-ris-literature.xsd"/>
  <xs:element name="meta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sachgebiete" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sachgebiet" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="notation" type="xs:string" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="veroeffentlichungsJahre">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="veroeffentlichungsJahr" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="gliederung" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="gliederungEntry" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="gesamttitelAngaben" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="gesamttitel" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="titel" type="xs:string" use="required"/>
                  <xs:attribute name="bandbezeichnung" type="xs:string"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="regionen" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="region" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="domainTerm" type="xs:string" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="domainTerm" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="zuordnungen" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="zuordnung" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="aspekt" use="required"/>
                  <xs:attribute name="begriff" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="historicAdministrativeData" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:choice>
              <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="dubletteToleriert" minOccurs="0"/>
        <xs:element name="verweisnotationen" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="verweisnotation" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="problemkreise" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="problemkreis" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="teilbaende" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="teilband" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ausgabe" type="xs:string" minOccurs="0"/>
        <xs:element name="besitznachweise" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="besitznachweis" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="institution" use="required"/>
                  <xs:attribute name="signatur"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="titelkurzformen" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titelkurzform" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="kollation" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="umfangsangabe" type="xs:string" use="required"/>
            <xs:attribute name="begleitmaterial" type="xs:string"/>
            <xs:attribute name="illustrationsangabe" type="xs:string"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="sonstigerSachtitelListe" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sonstigerSachtitel" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="vorauflagen" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="vorauflage" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="bibliothekarischeVerweisungen" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="bibliothekarischeVerweisung" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="normReference" type="risCommon:normReferenceType"/>
  <xs:element name="caselawReference">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="risCommon:caselawReferenceAttributeType">
          <xs:sequence>
            <xs:element name="fundstelle" minOccurs="0">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="risCommon:fundstelleAttributeType"/>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="vvReference">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="risCommon:vvReferenceAttributeType">
          <xs:sequence>
            <xs:element name="fundstelle" minOccurs="0">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="risCommon:fundstelleAttributeType"/>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="unselbstaendigeLiteraturReference" type="risCommon:unselbstaendigeLiteraturReferenceType"/>
  <xs:element name="selbstaendigeLiteraturReference" type="risCommon:selbstaendigeLiteraturReferenceType"/>
  <xs:attribute name="name" type="xs:string"/>
  <xs:attribute name="titel" type="xs:string"/>
  <xs:attribute name="zusatz" type="xs:string"/>
  <xs:attribute name="jahr" type="xs:string"/>
  <xs:attribute name="ort" type="xs:string"/>
  <xs:attribute name="land" type="xs:string"/>
</xs:schema>
